*.swp
*.pyc
ncbi_genome_download.egg-info/*
.coverage
htmlcov/*
.cache/*
dist/*
changes.txt

# manual tests
refseq/*
genbank/*

**/.ropeproject/*

# Pycharm
.idea/*

# neovim
.vim/*

# vscode
.vscode/*
